* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section {
    height: 30vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
    background: rgb(206,219,233); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.burger, .date {
    margin: 10px;
}
header {
    font-weight:800;
    margin: 10px;
    font-size: 30px;
}
a {
    text-decoration: none;
    font-family: sans-serif;
}
.top-left, .top-right {
    float: left;
    display: inline-block;
}
.top-left {
    width: 60%;
}
.top-right {
    width: 20%;
}
h1, h5 {
    color: white;
}
.onepart {
    width: 100%;
    overflow: auto;
}
.icon, icon2 {
    width: 16%;
}
.middlepart {
    width: 64%;
    float: left;
}
.icon {
    float: left;
    margin: 10px;
}
.icon2 {
    float: right;
    margin: 10px;
}
.listing, .descrip, .date, h1, h5, section {
    display: block;
}
.descrip, .date, .icon2 {
    color: gray;
}
form {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.onepart a {
    display: block;
    color: blue;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.addbody {
    background-color: #4C58A5;
    width: 100%;
    color: white;
}
.addheader {
    width: 100%;
}
.headitem {
    width: 33%;
    display: inline;
    margin: 20px;
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
}
.headitem2 {
    float: right;
    margin: 20px;
}
.addbody .addheader .fa {
    color: #32A7DF;
    font-size: 22px;
}
.addbutton { 
    color: white;
    background-color: #32A7DF;
    width: 50%;
    margin: auto;
    text-align: center;
    height: 60px;
    padding: 5px 0;
}
.addbutton a { 
    color: white;
}
.middle {
    border: solid 1px #32A7FF;
    border-radius: 50%;
    color: blue;
    font-size: 25px;
    width: 10%;
    margin: auto;
    text-align: center;
}
.portion {
    max-width: 85%;
    margin: 10px 25px 10px 25px;
}
.detail {
    font-size: 28px;
    font-family: sans-serif;
    max-width: 35%;
    display: inline-block;
}
.right {
    float: right;
    margin: 0 35px 15px 0;
    display: inline-block;
}
hr {
    max-width: 85%;
}
.light {
    font-weight: 100;
}
.middle {
    vertical-align: middle;
}
.fa {
    color: #32A7DF;
}